### 分组表

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

df = DataFrame({'item':['苹果','香蕉','橘子','香蕉','橘子','苹果'],
                'price':[4,3,3,2.5,4,2],
               'color':['red','yellow','yellow','green','green','green'],
               'weight':[12,20,50,30,20,44]})

df

    color item  price  weight
0     red   苹果    4.0      12
1  yellow   香蕉    3.0      20
2  yellow   橘子    3.0      50
3   green   香蕉    2.5      30
4   green   橘子    4.0      20
5   green   苹果    2.0      44

In [3]:
# 按照颜色分组，查看各种颜色的水果的总重量
df.groupby('color')['weight'].sum()

color
green     94
red       12
yellow    70
Name: weight, dtype: int64

### 透视表

各种电子表格程序和其他数据分析软件中一种常见的数据汇总工具。它根据一个或多个键对数据进行聚合，并根据行和列上的分组键将数据分配到各个矩形区域中

行分组透视表 设置index参数

In [8]:
# 行分组透视表
df.pivot_table(index='color',aggfunc='sum')['weight']

color
green     94
red       12
yellow    70
Name: weight, dtype: int64

列分组透视表 设置columns参数

In [9]:
df.pivot_table(columns='color',aggfunc='sum').loc['weight']

color
green     94.0
red       12.0
yellow    70.0
Name: weight, dtype: float64

行列分组的透视表  同时设定index、columns参数

In [22]:
def myfunction(x):
    mysum = 0
    for item in x:
        mysum += item
    return mysum

In [23]:
df.pivot_table(index='color',aggfunc=myfunction)

        price  weight
color
green     8.5      94
red       4.0      12
yellow    6.0      70

In [19]:
df.pivot_table(index='color',columns='item',aggfunc=np.sum,fill_value=0)

       price         weight
item      橘子 苹果   香蕉     橘子  苹果  香蕉
color
green      4  2  2.5     20  44  30
red        0  4  0.0      0  12   0
yellow     3  0  3.0     50   0  20

aggfunc：设置应用在每个区域的聚合函数，默认值为np.mean

fill_value：替换结果中的缺失值

### 交叉表

是一种用于计算分组频率的特殊透视图,对数据进行汇总

查看数据出现的次数

pd.crosstab(index,colums)

- index:分组数据，交叉表的行索引
- columns:交叉表的列索引

In [27]:
pd.crosstab(df.color,df.item)

item    橘子  苹果  香蕉
color
green    1   1   1
red      0   1   0
yellow   1   0   1